@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sriracha';
    text-decoration: none;
    font-style: normal;
}

:root {
    --font0: 'Passion One';
    --font1: 'Sriracha';
    --font2: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: rgb(108, 128, 132);
    min-height: 100vh
}

header {
    background-color: rgb(18, 15, 21);
    color: white;
    text-align: center;
    padding: 50px 0px;
}
header h1 {
    font-family: var(--font0);
    font-weight:bold;
    font-size: 5vw;
}
a {
    color: white;
    font-family: var(--font2);
    font-weight:bolder;
}

a:hover {
    text-decoration: underline;
}
header p {
    font-family: var(--font2);
    font-weight: normal;
}


main {
    background-color: rgb(231, 230, 226);
    width: 700px;
    margin: auto;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.482);
}

section {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 2em;
    padding: 10vh 30px;
}
.imagem {
    color:white;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.567);
    background-position: right center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;

}
.imagem p {
    background-color: rgba(0, 0, 0, 0.49);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
section p {
    padding-bottom: 2em;
}
section#img01 {
    background-image: url(imagens/background001.jpg);
    
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: rgb(18, 15, 21);
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
footer p {
    font-family: var(--font2);
    font-size: 0.75em;
}